<:Title>
  Exchange

<:Body>
  <div class="row">
    <div class="col-xs-12">


      <table class="todo-table">
        <tr>
          <th>Beer</th>
          <th>Price</th>
          <th></th>
        </tr>
        {{ _drinks.each_with_index do |drink, index| }}
        <tr>
          <td>{{ drink.name  }} </td>
          <td>{{ drink.price }} </td>
          <td><button e-click="purchase(drink)">Buy</button></td>
        </tr>
        {{ end }}
      </table>

    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-xs-12">

      <h3>Purchase History</h3>
      <button e-click="clear_purchases">Clear</button>

      <table class="todo-table">
        <tr>
          <th>Time</th>
          <th>Beer</th>
          <th>Price</th>
        </tr>
        {{ local_store._purchases.reverse.each_with_index do |purchase, index| }}
        <!-- Use params to store the current index -->
        <tr>
          <td>{{ purchase._time.strftime("%T.%L") }} </td>
          <td>{{ purchase._name  }} </td>
          <td>{{ purchase._price }} </td>
        </tr>
        {{ end }}
      </table>

    </div>
  </div>

