<:Title>
  Exchange

<:Body>
  <div class="row">
    <div class="col-xs-12">

      <h1>Manage the Beer List</h1>

      <table class="todo-table">
        {{drinks.each_with_index do |drink, index| }}
        <tr>
          <td>{{ drink.name  }} </td>
          <td>{{ drink.price }} </td>
          <td><button e-click="drink.destroy">X</button></td>
        </tr>
        {{ end }}

        <tr>
          <td>
            <:fields:text placeholder="name"
              value="{{ page._new_drink_name }}"/>
          </td>
          <td>
            <:fields:text placeholder="price"
              value="{{ page._new_drink_price }}"/>
          </td>
          <td>
            <form e-submit="add_drink" role="form"><input type="submit" value="Add"></form>
          </td>
        </tr>
      </table>

    </div>

  </div>
